h1 {
    color: rgb(246, 246, 246);
    font-size: 50px;
}

body {
    color: rgb(246, 246, 246);
    background-color: #191970;
}

p {
    font-size: 20px;
    align-content: center;
}

a {
    color: rgb(246, 246, 246);
}

#alheading {
    color: aquamarine;
    font-size: 30px;
    font-weight: 100;
    
}

