h1 {
    color: rgb(246, 246, 246);
    font-size: 50px;
}

body {
    color: rgb(246, 246, 246);
    background-color: #191970;
}

p {
    font-size: 20px;
    align-content: center;
}

a {
    color: rgb(246, 246, 246);
}

#alheading {
    color: #ff00ff;
    font-size: 30px;
    
}

h1.chick-heading {
    color: #ff00ff;
    
    
}

p {
    color: rgb(175, 167, 167);
    
}

h2,
.cook,
.cooking {
    color: #34e7ff;
    
}

div {
    color: rgb(175, 167, 167);
    font-size: 20px;
    align-content: center;
}

