h1 {
    color: rgb(246, 246, 246);
    font-size: 50px;
}

body {
    color: rgb(246, 246, 246);
    background-color: #000000;
}

p {
    font-size: 20px;
    align-content: center;
}

a {
    color: rgb(255, 217, 0);
    font-size: larger;

}

#alheading {
    color: rgb(255, 217, 0);
    font-size: 30px;
    
}

h1.chick-heading {
    color: rgb(255, 217, 0);
    
    
}

p {
    color: rgb(255, 217, 0)
    
}

h2,
.cook,
.cooking {
    color: #ff00ff
    
}

div {
    color: rgb(255, 217, 0);
    font-size: 20px;
    align-content: center;
}

ul {
    color: rgb(255, 217, 0);
    font-size: larger;
}

