.chickal {
    color: rgb(225, 48, 48);
    background: rgb(253, 221, 42);
    font-size: 50px;

}

body {
    background-color: rgb(57, 253, 253);
    font-size: 18px;
    align-content: center;

}











